[submodule "src/slsk-batchdl"]
	path = src/slsk-batchdl
	url = https://github.com/discolotus/slsk-batchdl.git
[submodule "src/Shazam-Tool"]
	path = src/Shazam-Tool
	url = https://github.com/discolotus/Shazam-Tool.git